h1 {
    color: rgb(0, 140, 255);
    background-color: black;
    margin: 40px;
    padding: 25px;
    text-align: center;
}
body {
    background-color: rgb(201, 221, 230)
}
p{
    color:white
    font-family:"Arial", Helvetica, sans-serif;
}
nav ul{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    float: left;
}
nav ul li a{
    display: block;
    padding: 10px;
    background-color: rgb(188, 190, 189);
    color: rgb(0, 0, 0);
    text-decoration: none;
}
nav ul li a:hover{
    background-color: rgb(241, 82, 82);
    color: rgb(5, 189, 60)
}

.bongo{
    color: rgb(126, 192, 247);
    writing-mode: vertical-lr;
    float: right;
    opacity: 0.5;
}
.credits{
    color:black;
    font-size-adjust: 2px
}